/************************************************************************
   ___ _                          _               
  / __\ |__   __ _ _ __ __ _  ___| |__   ___  ___ 
 / /  | '_ \ / _` | '__/ _` |/ _ \ '_ \ / _ \/ _ \
/ /___| | | | (_| | | | (_| |  __/ |_) |  __/  __/
\____/|_| |_|\__,_|_|  \__, |\___|_.__/ \___|\___|
                       |___/                      

/*********************** Commenting is sexy => ya,actually ******************************/
/*********************** Write your styles below *************************/
/* theme colors & font family */
:root{
   /* given font */
   --font-proxima-bold:'proxima_nova_ltsemibold', Georgia, sans-serif;
   --font-proxima-regular: 'Proxima Nova', Georgia, sans-serif;
   --font-roboto-light: 'Roboto', sans-serif;;

   font-size: 16px;/* base value for rem to calculate*/

   /* total colors given in the spec*/
   --color-main-heading: #525252;
   --color-sub-heading: #666666;
   --color-image-label-1: #8AB5D5;
   --color-image-label-2: #CFA622;
   --color-text-second-block:  #F6F8FC;
   --color-button-bg: #06C587;
   --color-icon-info: #646464;
   --color-footer-text: #222222;
   --color-bg-logo:  #27292F;
   --color-portal-spl-text: #0F334F;
   --color-check-logo: #6E78B4;
   --color-list-heading: #333333 ;
   --color-phone-border: #34495e;
     
}
/* normalize*/
ul,li{
   padding:0px;
   margin: 0px;
   list-style: none;
}


/* font family utility*/
body{ font-family: var(--font-proxima-regular);}
.proxima-semibold{font-family: var(--font-proxima-bold);}
.proxima-lt{ font-family: var(--font-proxima-regular);}
.roboto-lt{font-family: var(--font-roboto-light);}


/*  font size utility

for use of REM - ref: http://tachyons.io/docs/typography/scale/

*/
.f-12{ font-size: 0.75rem; }
.f-14{ font-size: 0.875rem; }
.f-16{ font-size: 1rem; }
.f-18{ font-size: 1.125rem; }
.f-19{ font-size: 1.1875rem; }
.f-20{ font-size: 1.25rem; }
.f-24{ font-size: 1.5rem; }
.f-26{ font-size: 1.625rem; }
.f-32{ font-size: 2rem; }
.f-36{ font-size: 2.25rem; }
.f-38{ font-size: 2.375rem; }
.w-5{width:1.875rem;}

/* line-height utility */
.ln-h-120{line-height: 120%}
.ln-h-150{line-height: 150%}
.ln-h-86{line-height: 86%}
.ln-h-115{line-height: 115%}
.ln-h-134{line-height: 134%}
.ln-h-150{line-height: 150%;}
.ln-h-200{line-height: 150%;}

/* color utility*/
.bg-pale-blue{ background-color: #e6edf3; }
.bg-pale-red{background-color: #e74c3c;}
.main-heading-color{ color: var(--color-main-heading); }
.sub-heading-color{ color: var(--color-sub-heading); }
.image-label-1{ color: var(--color-image-label-1); }
.image-label-2{ color: var(--color-image-label-2); }
.text-second-block-color{ color: var(--color-text-second-block);}

.testimonial-text-color{color: var(--color-button-bg);}
.icon-info-color{ color: var(--color-icon-info);}
.footer-text-color{ color: var(--color-footer-text);}
.check-logo-color{color:var(--color-check-logo);}
.li-heading-color{color: var(--color-list-heading);}

.portal-spl-text-color{color:var(--color-portal-spl-text);}
.b--white{ border-color: var(--color-text-second-block);}
.b--dashed{border-color: var(--color-phone-border);}

/* background color utility*/
.logo-bg-color{ background-color: var(--color-bg-logo);}
.checkout-section-color{background-color:var(--color-portal-spl-text)}
.button-bg{ background-color: var(--color-button-bg);}

.checkout-img{height:29.6875rem;width:20rem;}
.checkout-img-container{width:22.5rem;}

/* avatar && logo*/
.avatar-logo{
   width: 40px;
   height: 40px;
}
.phone-btn{
   width:2.9375rem;
   height: 2.9375rem;
   border-radius: 50%;
   border:2px solid var(--color-phone-border);
}
.phone-bottom{
   border-bottom-left-radius: 15%;
   border-bottom-right-radius: 15%;
   height:36.25rem;
}
.company-logo{ width:9.375rem; }
.companies-logo{ width:8.5rem;}
.img-contanier-height{height:5rem;}
#company-logo-section{height:12.5rem;}
#footer-section,#portal-section{padding: 3.125rem 0;}
#testimonial-section,#main-section{padding: 3.125rem 0;}
#checkout-section{ padding-bottom: 6.25rem;}
.main-image{width:14.3125rem; height:14.3125rem;}
.br-pill{width:12.5rem;}
.flex-full{flex:1 0 0px;}
.push-left-inside{margin-left:-12.5rem;}

.spl-dotted::before{
   content:"- - - -";
   color:white;
   position: absolute;
   left: -1.85rem;
   top: 0.75rem;
   font-size:0.75rem;
}

/** utility for hide /show when screen goes small or big */
/* media query lift from https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 */
@media (min-width: 320px) and (max-width: 768px) {
  
 .hide-when-small{ display: none; }
 .show-when-small-i{ display: inline-block; }
 .show-when-small-b{ display: block; }
  #footer-section .f-12{font-size: 1.25rem}
 .main-image{ width:7.1875rem; height:7.1875rem;}
 #portal-section{padding: 1.5625rem 0;}
 #checkout-section{ padding-bottom: 0rem;}
 
 }

 @media (min-width: 1024px){
  
  .hide-when-big{ display: none; }
  .show-when-big-i{ display: inline-block;}
  .show-when-big-b{ display: block;}
  .br-pill{width:9.375rem;}
 }