/************************************************************************
   ___ _                          _               
  / __\ |__   __ _ _ __ __ _  ___| |__   ___  ___ 
 / /  | '_ \ / _` | '__/ _` |/ _ \ '_ \ / _ \/ _ \
/ /___| | | | (_| | | | (_| |  __/ |_) |  __/  __/
\____/|_| |_|\__,_|_|  \__, |\___|_.__/ \___|\___|
                       |___/                      

/*********************** Commenting is sexy ******************************/
/*********************** Write your styles below *************************/
/* theme colors & font family */
:root{
   --font-proxima-bold: ProximaNova-Semibold;
   --font-proxima-bold-lt: ProximaNova-SemiboldIt;
   --font-proxima-light: ProximaNova-Light;
   --font-proxima-regular: ProximaNova-Regular;
   --font-roboto-light: Roboto-Light;
     
}

/*  font size*/
.f-12{ font-size: 12px; }
.f-14{ font-size: 14px; }
.f-16{ font-size: 16px; }
.f-18{ font-size: 18px; }
.f-19{ font-size: 19px; }
.f-20{ font-size: 20px; }
.f-24{ font-size: 24px; }
.f-26{ font-size: 26px; }
.f-32{ font-size: 32px; }
.f-36{ font-size: 36px; }
.f-38{ font-size: 38px; }


